<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.example.board.domain.vo.BoardVO" alias="boardVO" />
		<typeAlias type="com.example.board.domain.vo.BoardDTO" alias="boardDTO" />
		<typeAlias type="com.example.board.domain.vo.ReplyVO" alias="replyVO" />
		<typeAlias type="com.example.board.domain.vo.FileVO" alias="fileVO" />
		<typeAlias type="com.example.board.domain.vo.FileDTO" alias="fileDTO" />
	</typeAliases>
</configuration>